*~
#*#
*.o
*.a
a.out
*.log
run_tests
run
.vscode
unit_tests
example_files
B-CPE-110_Setting_Up_Generator.pl
test_script.sh
setting_up
my_ls
my_hunter
my_top
organized
test_file
main.c
example_hash_file.c
